.form-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}

.form-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.form-row:first-child {
  padding-top: 0;
  border-top: none;
}

.complexity-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.range-scale {
  position: relative;
  font-size: 20px;
  top: 10px;
  padding: 5px;
  font-weight: bold;
  flex-basis: 5%;
}

label {
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  resize: none;
  border: none;
}

input[type="range"] {
  flex-basis: 80%;
  position: relative;
  top: 11px;
  margin-left: -14px;
}

.form-title {
  font-size: 32px;
  text-align: center;
  margin: 6px;
}

@media only screen and (min-width: 768px) {
  .form-container {
    justify-content: space-between;
  }
  
  .form-title {
    font-size: 52px;
  }

  .form-row {
    margin-top: 5px;
    width: 48%;
    margin-bottom: 36px;
    padding-top: 0px;
    border-top: none;
  }

  label {
    font-size: 22px;
    margin-bottom: 0px;
  }
  
  input, textarea {
    font-size: 18px;
    padding: 5px;
  }

  textarea {
    margin-top: 16px;
  }
  
  input[type="range"] {
    flex-basis: 80%;
    margin-left: 0px;
  }
}