@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand:400,500&display=swap');
@import './form-styles.css';
@import './layout-styles.css';
@import './button-styles.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 235, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

p, span, input {
  font-family: 'Lato', sans-serif;
}

.--slideInLeft {
  animation: slideInLeft 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
      transform: translate(0, -100%);
  }
  
  to {
      transform: translate(0, 0);
  }
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100%)
  }
  
  to {
      transform: translateX(0)
  }
}
