.list-container {
    width: calc(25% - 22px);
    padding: 10px;
}

.list__title {
    font-size: 20px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.placeholder-message {
    margin-top: 40px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}