.edit-todo-container {
    background-color: rgb(0, 110, 129);
    color: white;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}

.form-row {
    width: 100%;
}

label {
    font-size: 24px;
    width: 25%;
}

input, textarea {
    width: 75%;
}

.edit-todo__title {
    font-size: 72px;
}

.edit-todo__description {
    font-size: 40px;
}

.edit-todo__detail {
    font-size: 40px;
}

.secondary {
    padding: 20px 80px;
}