.list-container {
    width: 100%;
    padding: 10px;
}

.list__title {
    font-size: 18px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.placeholder-message {
    margin-top: 40px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

@media only screen and (min-width: 425px) {
    .list-container {
        width: calc(50% - 22px);
    }

    .list__title {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .list-container {
        width: calc(25% - 22px);
    }

    .list__title {
        font-size: 22px;
    }
}