.todoItem {
    background-color: white;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 3px;
    margin-bottom: 10px;
}

.todo-content-container {
    line-height: 1.4;
    padding: 15px;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
    width: 80%;
}

.description {
    font-size: 14px;
    margin-top: 8px;
}

.complexity {
    font-size: 12px;
}

.assigned-to {
    width: 80%;
    margin-bottom: 5px;
    font-size: 12px;
}

.complexity__index {
    display: inline-block;
    border-radius: 50%;
    margin-left: 6px;
    text-align: center;
    padding: 3px;
    width: 17px;
    position: relative;
    bottom: 1px;
}

.complexity--red {
    background-color: #ec7474;
}

.complexity--yellow {
    background-color: rgb(255, 255, 0);
}

.complexity--green {
    background-color: rgb(114, 199, 114);
}

.button__on-hold {
    font-size: 9px;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(253, 198, 45);
    transition: background-color 0.3s ease-in-out;
}

.button__on-hold:hover {
    background-color: rgb(238, 174, 0);
    cursor: pointer;
}